exp: ngc5004
pycompo_name: pc01
test: True

# Basic Data Settings
data:
  feature_var: ts
  wind_vars:
    - uas
    - vas
  study_vars:
    - pr
    #- prw
    #- hfls
    #- hfss
    #- rlut
    #- cllvi
    #- clivi
    #- sfcwind
    #- sfcwind_conv
    #- ps
    #- ua
    #- va
    #- wa
    #- ta
    #- hus
    #- cli
    #- clw
  spd: 8
  inpaths:
    ts: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/ts_latlon/
    uas: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/uas_latlon/
    vas: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/vas_latlon/
    pr: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/pr_latlon/
    prw: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/prw_latlon/
    hfls: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/hfls_latlon/
    hfss: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/hfss_latlon/
    rlut: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/rlut_latlon/
    cllvi: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/cllvi_latlon/
    clivi: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/clivi_latlon/
    sfcwind: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/sfcwind_latlon/
    sfcwind_conv: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/sfcwind_conv_latlon/
    ps: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/ps_latlon/
    ua: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/ua_latlon/
    va: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/va_latlon/
    wa: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/wa_latlon/
    ta: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/ta_latlon/
    hus: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/hus_latlon/
    cli: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/cli_latlon/
    clw: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pp/P1D/clw_latlon/
  outpath: /work/mh0731/m300738/project_TRR181L4/data/ngc5004_pycompo_analysis
  analysis_time:
    - 2020-08-01T00:00:00Z
    - 2020-09-01T00:00:00Z

# Basic Analysis Settings
lat_range:
  - -15.0
  - 15.0

# Detrending Settings
detrend:
  switch: False
  clim_baseyear: 2020
  clim_avg_days: 30

# Filtering settings
filter:
  lat_mid: 0.0
  cutoff_scale_km: 75.0
  truncation: 1

# SST-Feature Detection Settings
feature:
  type: warm # options: warm, cold
  threshold: 0.2 # in K, negative for cold features, positive for warm features
  connectivity: 8
  min_area: 400.0
  property_list:
    - centroid
    - axis_major_length
    - axis_minor_length
    - orientation

# Data Cutout Sample Settings
cutout:
  search_RadRatio: 3.0

# Composite Settings
composite:
  type: anomaly # options: anomaly, absolute
  compo_x:
    - -4.0
    - 4.1
    - 0.1
  compo_y:
    - -4.0
    - 4.1
    - 0.1
  rainbelt_subsampling:
    switch: True
    mode: roll_avg
  subgroup_vars:
    - bg_sfcwind: [2.0, 4.0, 6.0, 8.0, 10.0]
    - radius_km: [50.0, 75.0, 100.0]
    - ts_ano_mean: [0.25, 0.3, 0.35, 0.4]

# Significance test settings
sigtest:
  null_hypothesis_popmean: 0.0

# Parallelization
parallel:
  n_jobs_get_features: 32  # Set to 32 for daily data and to 64 for (3-)hourly data. Keep below 64 to allow each worker enough memory.